<ion-view title="Main">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
      <h1>Technology Checker</h1>

      <button class="button button-block button-positive button-dark" ng-click="goTo('deviceinfo')" >
          Device
      </button>
      
      <button class="button button-block button-positive button-dark" ng-click="goTo('camera')" >
          Camera
      </button>
      
      <button class="button button-block button-positive button-dark"  ng-click="goTo('audio')"  > <!-- -->
          Audio
      </button>      
     <!-- <button class="button button-block button-positive button-dark" ng-click="goTo('network')" >   
          Network
      </button>-->
      
    </ion-content>
</ion-view>
