<ion-view title="Picture">
  <ion-content class="padding">
    <div class="card">
        <div class="item item-divider">
            Capture Picture
        </div>
        <div class="item item-image">
            <img class="item" ng-src="{{cameraimage}}" style="min-height: 350px;" />
        </div>
    </div>
        <button class="button button-block button-outline button-calm icon icon-left ion-ios7-loop-strong" ng-click="takeFrontPicture()">Try Again</button>
  </ion-content>
   <div class="bar bar-footer">
      <div class="title">benchmarkitsolutions.com</div>
    </div>
</ion-view>