<ion-view title="Technology Checker">
  <ion-content class="padding">
    <button class="button button-block button-outline button-calm icon icon-left ion-filing" ng-click="goTo('deviceinfo')"> Device</button>
    <button class="button button-block button-outline  button-calm icon icon-left  ion-camera" ng-click="goTo('camera')"> Camera</button>
    <button class="button button-block button-outline  button-calm icon icon-left ion-ios7-speedometer-outline"  ng-click="goTo('networkspeed')"> Network Speed Test</button>
  </ion-content>
  <div class="bar bar-footer">
    <div class="title">benchmarkitsolutions.com</div>
  </div>