<ion-view title="Network Speed Test">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h3>Test Network Speed</h3>
    <div class="padding">
        
        <button class="button button-block button-positive" ng-click="testSpeed()">
            Speed Test
        </button>
        <!--<button class="button button-block button-positive" ng-click="uploadFile()">
            Upload File
        </button>
        <button class="button button-block button-positive" ng-click="downloadFile()">
            Download File
        </button>
        -->
        <div id="status"></div>
        Upload Speed <span id="showspeed" >{{showSpeed}}</span><br/>
        Download Speed <span >{{downloadSpeed}}</span><br/>

    </div>
  </ion-content>
</ion-view>
